<head>
  <link rel="stylesheet" href="path/to/your/css/file.css">
</head>


<h1>Task List</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <h2><%= task.name %></h2>
      <p><%= task.description %></p>
      <%= link_to 'Edit', edit_task_path(task) %>
      <%= button_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>

      <!-- Change the HTTP method for the Delete link to use :delete -->
    </li>
  <% end %>
</ul>

<%= link_to 'New Task', new_task_path %>
